{% extends 'base.html' %}
{% block title %}Post View{% endblock %}
{% block css %}/static/clean-blog.css{% endblock %}
{% block content %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ title }}</h1>
                        <h2 class="subheading">{{ subtitle }}</h2>
                        <span class="meta">Posted by {{ date.strftime("%b %d, '%y at %I:%M %p") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ body|replace("\r\n", "<p>")|safe }}
                </div>
            </div>
        </div>
    </article>

    <hr>


{% endblock %}